/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
}
body {
  font-family: sans-serif;
}

/* Estilos del header */
header {
  display: flex;
  align-items: center;
  position: sticky;
  width: 100%;
  height: 8rem;
  background-color: #fff;  
  z-index: 1; 
}
.logo {
  position: relative;
  width: 8rem; /* Ancho deseado del contenedor */
  height: 8rem; /* Alto deseado del contenedor */
  overflow: hidden; /* Para evitar que la imagen se desborde */
  margin-left: 2rem;
}
.logo img {
  position: absolute;
  width: 100%; /* Ajustar al ancho del contenedor */
  height: 100%; /* Ajustar al alto del contenedor */
  top: 0;
  left: 0;
  object-fit: cover; /* Para que la imagen se ajuste al tamaño del contenedor sin distorsionarse */
}
  .nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgba(128, 128, 128, 0.400);
    transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    margin-left: 8rem;
    display: none;
  }

.contenido {
  background-color: hsl(0, 2%, 95%);
  width: 100%;
}

.oferta img {
    display: flex;
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
}
.publicidad {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.mejor-tarifa {
    font-size: large;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.3em;
}
.tasa {
    margin: 2em;
}
.slider-container {
    max-width: 600px;
    margin: auto;
    position: relative;
  }
  
  .slider-container img {
    width: 100%;
    display: none;
  }
  
  .slider-container img.active {
    display: block;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  /* Estilos Ubicacion */
  .ubicacion-estructura {
    text-align: center; /* Center the contents of this div */
}
iframe {
    width: 100%; /* Make the iframe fill its container */
    max-width: 90%; /* Limit the maximum width of the map */
    height: 38rem; /* Increase the height of the map */
    margin-bottom: 4%;
    margin-top: 2%;
}
.location-info {
  padding: 20px;
  padding-top: 50px;
  background-color: hsl(0, 2%, 95%);

  /* Introduce aquí tu código */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  
}

article {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  background-color: hsl(0, 2%, 95%);
  height: 100%;
  padding: 10px;

}

article img {
  width: 100%;
  height: 200px;
  min-height: 200px;
  object-fit: contain;
  background-color: hsl(0, 2%, 95%);
  border-radius: 16px 16px 0 0;
}


article h2{
  margin: 10px 0;
  font-size: 24px;
  color: black;
  text-align: center;
  min-height: 60px;

  /* Para que la linea se coloque en su lugar */
  position: relative;
}

.product-description {
  color: #666;
  padding: 10px;
  line-height: 1.8;
  min-height: 200px;
}

/* Esto es la línea naraja */
article h2::after {
  content: "";
  background-color: hsl(0, 2%, 50%);
  border-radius: 50%;
  height: 4px;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
  /* Estilos Reservas */
.calendario {
  margin-bottom: 20px;
}

.formulario {
  margin-top: 20px;
}  
/* Estilos para el footer */
footer {
    background-color: #fff;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    height: 15rem;
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacto .info {
  list-style-type: none;
  font-size: 2.5vw;
}

.contacto .info li {
  margin-bottom: 0.8rem;
}

.contacto .info a {
  display: block;
  margin-bottom: 0.8rem;
}

.logo-container {
  max-width: 100%;
  text-align: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}
/* MOBILE */
/* MOBILE */
@media (max-width: 768px) {

  .header {
    height: 60px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.95);
    position: fixed;
    top: 8rem;
    width: 100%;
    height: calc(100% - 8rem);
    left: 100%;
    transition: left 0.3s;
  }

  .nav-menu-item {
    line-height: 4rem;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: rgb(91, 91, 91);
    color: black;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}



@media (max-width: 767px) {
    .oferta {
        display: inline;
    }
}




